<!--config-->

<script>
 var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiAPI"]';
var APIBaseURL = '@System.Configuration.ConfigurationManager.AppSettings["APIBaseURL"]';


</script>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-4 header-lft wow fadeInLeft">
                <div class="logo"><a href="@Url.Action("Index","Home")"><img src="images/logo.png" alt="logo"></a></div>
            </div>
            <div class="col-8 header-mid wow fadeInRight">
                <nav class="navbar navbar-expand-md p-0 pull-right">
                    <div class="navbar-brand">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                    <div id="myNavbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item active"><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                            <li class="nav-item active"><a href="@Url.Action("Index","AboutUs")" class="nav-link">About Us</a></li>
                            <li class="nav-item active"><a href="@Url.Action("Index","Services")" class="nav-link">Services</a></li>
                            <li class="nav-item"><a href="@Url.Action("Index","Contact")" class="nav-link">Contact</a></li>
                            @*<li class="nav-item dropdown">
                                    <a href="template.html" class="nav-link dropdown-toggle">Template Page</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Lorem Ipsum</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle">Lorem Ipsum</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Lorem Ipsum</a></li>
                                                <li><a href="#">Lorem Ipsum</a></li>
                                                <li><a href="#">Lorem Ipsum</a></li>
                                                <li><a href="#">Lorem Ipsum</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Lorem Ipsum</a></li>
                                        <li><a href="#">Lorem Ipsum</a></li>
                                    </ul>
                                </li>*@
                            <li><a href="javascript:void(0);" style="display:none" class="btn btn-default login" data-toggle="modal" data-target="#login-modal" data-text="Login" id="divLogin"><span>LogIn</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="btn btn-primary register" data-toggle="modal" data-target="#login-modal" id="divRegister" data-text="Register"><span>Register</span></a></li>
                            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["ApiAPI"]home" target="_parent" style="display:none" class="btn btn-primary logout" data-toggle="modal" data-target="AppPortal" id="divAppPortal" data-text="Return To Portal"><span>Return To Portal</span></a></li>
                            <li><a href="javascript:void(0);" style="display:none" class="btn btn-primary logout" data-toggle="modal" data-target="LogOut" id="divLogOut" data-text="Logout"><span>Log Out</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
